.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    height: 100svh;
    max-height: 600px;
    padding: 30px;
    gap: 12px;
}

.title-header {
    display: flex;
    align-items: center;
    gap: 8px;

    img {
        width: 36px;
        height: 36px;
    }

    h2 {
        margin-bottom: 0;
    }
}

main {
    width: 400px;
    max-width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 8px;
    margin-bottom: 16px;
    overflow-y: auto;
    scroll-behavior: smooth;
}

ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}

.message {
    display: flex;
    flex-direction: column;
    margin: 4px 0;
    padding: 4px 8px;

    span {
        width: 36px;
        height: 36px;
        font-size: 12px;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 999999px;
    }

    p {
        border-radius: 4px;
        padding: 4px 8px;
        margin-top: 4px;
    }

    &.user {
        align-self: flex-end;
        align-items: flex-end;

        p {
            background-color: #d7d5d5;
            color: black;
        }
    }

    &.bot {
        align-self: flex-start;

        p {
            background-color: #2f2f2f;
        }
    }
}

form {
    display: flex;
    width: 100%;


    input {
        margin-bottom: 0px !important;
        flex-grow: 1;
        border: 0;
        padding: 8px;
        margin-right: 8px;
        border: 1px solid #ccc;
    }

    button {
        transition: background .3s ease;

        &[disabled] {
            border-color: #555;
            background: #000000;
            color: #555;
            pointer-events: none;
        }

        &:hover {
            background: rgb(255, 255, 255);
        }
    }
}

.loading {
    text-align: center;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    flex-direction: column;
    margin-top: 50%;

    h4 {
        color: #444;
        margin-bottom: 8px;
    }

    h5 {
        font-weight: 400;
        margin: 0;
        font-size: 10px;
        opacity: .4;
    }
}

@media (width < 480px) {
    .grid {
        height: 100svh;
    }

    .container {
        max-width: 100%;
        width: 100%;
        height: 100%;
        max-height: 100%;
        padding: 16px;
    }

    main {
        height: 100%;
    }
}